input {
  padding: 8px;
  margin-top: 5px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input.invalid {
  border: 1px solid red;
}

#error-msg {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
}
